:root {
    --gronn: #5AFF55;
    --morkgronn: #049900;
}

* {
    font-family: Poppins, sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#logo-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.svg-container {
    z-index: 1;
}

.svg-container-bg {
    position: fixed;
    z-index: 0;
    left: 50.5%;
}

object {
    width: auto;
    height: 100%;
}

.logo-wrapper {
    width: 100%;
    margin-left: 290px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: whitesmoke;
}

.option-wrapper {
    width: 250px;
    position: fixed;
    height: -webkit-fill-available;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    border-right: 1px solid lightgray;
    background-color: white;
}

.option-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.p112-wrapper {
    display: flex;
    height: 100%;
}

button {
    padding: 20px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    min-width: 180px;
    cursor: pointer;
}

.option-format {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Gjemmer vanlig knapp */
input[type="radio"] {
    display: none !important;
}

/* Knappstyling (Ikke valgt) */
input[type="radio"]+label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    outline: 2px solid #221F1F;
    margin-right: 10px;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;
}

/* Knappstyling (Musepeker over) */
input[type="radio"]:hover+label::before {
    background-color: var(--gronn);
    outline: 2px solid #221F1F;
}

/* Knappstyling (Valgt) */
input[type="radio"]:checked+label::before {
    background-color: var(--gronn);
    transform: scale(1.2);
}

button {
    background-color: transparent;
    outline: 1px solid #000000;
    color: #221F1F;
    border: 0px;
    border-radius: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #221F1F;
    color: white;
    transition: 0.3s;
}

.option-heading {
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.heading-112 {
    font-size: 32px;
}

.button-wrapper {
    padding-top: 150px;
}